torch 
torchvision --index-url https://download.pytorch.org/whl/cu118
diffusers==0.32.2
einops
easydict
transformers
accelerate
oldest-supported-numpy
sentencepiece
peft
opencv-contrib-python
imageio-ffmpeg
fire
moviepy
icecream
matplotlib